//$shiri: #F5F2F1;
$shiri:#F8F8FA;
$yellow: #F4FA2A;

$bg-color: #F6F7FB;
$bg-color-two: #fff;
$border-color: #fff;

$font-color: #33383C;

$active-color: #ff6300;
$active-color-two:#1EE0AC;

$toolbar-height: 70px;

$small-mode-width: 87px;



body{
    background:$shiri;
    direction: rtl;
    padding: 0!important;
    margin: 0!important;
    text-align: right;
}


@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/iranSans/persianNum/eot/IRANSansWeb.eot');
    src: url('../../assets/fonts/iranSans/persianNum/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../assets/fonts/iranSans/persianNum/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../assets/fonts/iranSans/persianNum/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../assets/fonts/iranSans/persianNum/ttf/IRANSansWeb.ttf') format('truetype');
}

body{
    font-family: 'IRANSans';
    font-size: 13px;
}






/* width */
::-webkit-scrollbar {
    width: 5px!important;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.17);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4A84C4;
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2666c0;
}


.main-box {
    &.wide-side-nav {

        .d-side-nav {
            .d-side-nav__header {
                .logo {
                    img.img2 {
                        opacity: 1;
                        transition: .5s;
                    }
                }
            }
        }

        .berger-menu {
            > div {
                &:first-child, &:last-child {
                    width: 100%;
                }
            }
        }

        .d-main-content {
            width: calc(100% - 250px);
            transition: .5s;
        }
    }
}

.d-side-nav {
    right: 0;
}