<template>
    <div>
        <div class="form-row text-justify-content-center">

            <div class="col-md-2">

                <div class="card food-list" style="width: 100%;">
                    <img class="card-img-top" src="@/assets/imgs/pizza-1.png" alt="">
                    <div  style="display: flex;flex-direction: column;padding: 15px">
                        <div class="my-title  text-right">{{myFood}}</div>

                        <div class="my-title pt-2 text-left">38000 تومان</div>


                    </div>

                </div>

            </div>

            <div class="col-md-2">
                <div class="card food-list" style="width: 100%;">
                    <img class="card-img-top" src="@/assets/imgs/pizza-1.png" alt="">
                    <div  style="display: flex;flex-direction: column;padding: 15px">
                        <div class="my-title  text-right">{{myFood}}</div>

                        <div class="my-title pt-2 text-left">38000 تومان</div>


                    </div>
                </div>

            </div>



            <div class="col-md-2">
                <div class="card food-list" style="width: 100%;">
                    <img class="card-img-top" src="@/assets/imgs/pizza-1.png" alt="">
                    <div  style="display: flex;flex-direction: column;padding: 15px">
                        <div class="my-title  text-right">گوجیانوف مخصوص</div>

                        <div class="my-title pt-2 text-left">38000 تومان</div>


                    </div>
                </div>

            </div>


            <div class="col-md-2">
                <div class="card food-list" style="width: 100%;">
                    <img class="card-img-top" src="@/assets/imgs/pizza-1.png" alt="">
                    <div  style="display: flex;flex-direction: column;padding: 15px">
                        <div class="my-title  text-right">گوجیانوف مخصوص</div>

                        <div class="my-title pt-2 text-left">38000 تومان</div>


                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="card food-list" style="width: 100%;">
                    <img class="card-img-top" src="@/assets/imgs/pizza-1.png" alt="">
                    <div  style="display: flex;flex-direction: column;padding: 15px">
                        <div class="my-title  text-right">گوجیانوف مخصوص</div>

                        <div class="my-title pt-2 text-left">38000 تومان</div>


                    </div>

                </div>

            </div>

            <div class="col-md-2">
                <div class="card food-list" style="width: 100%;">
                    <img class="card-img-top" src="@/assets/imgs/pizza-1.png" alt="">
                    <div  style="display: flex;flex-direction: column;padding: 15px">
                        <div class="my-title  text-right">گوجیانوف مخصوص</div>

                        <div class="my-title pt-2 text-left">38000 تومان</div>


                    </div>

                </div>

            </div>


        </div>

    </div>
</template>

<script>
    export default {
        name: "foodLists",
        props:{

            myFood:{
                String,
                require
            }
        }
    }
</script>

<style >

</style>