<template>

    <div>


        <template class="my-order">
            <div class="col-md-12 pt-2 pading pb-5 mb-5">

                <div class="card my-2 food">

                    <div style="height: 60px;width:100%;justify-content:flex-start;display:flex;flex-direction: row">
                        <img style="width: 50px;height: 53px" src="@/assets/imgs/pizza-2.png" alt="">
                        <div style="width:100%;justify-content:flex-start;display:flex;flex-direction: column;padding: 5px;">
                            <span style="font-size: 12px" class="text-right">مرغ و قارچ مخصوص </span>

                            <div class="reception">
                                <small style="" class="text-right">قیمت واحد:58000 </small>
                                <small style="" class="text-left pt-2"> قیمت:5800 </small>

                            </div>

                        </div>


                        <div class="btn-group-vertical" style=" margin-bottom: 6px;">
                            <span class="butons "  @click="plus()" style="border-radius: 5px 0px 0px 0px;margin-bottom: 1px" >+</span>

                            <span class="butons" style="border-radius: 0px 0px 0px 5px;" @click="minus()">

                <svg  class="svg-minus" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      width="124px" height="124px" viewBox="0 0 124 124" style="enable-background:new 0 0 124 124;"
                      xml:space="preserve">
<g>
	<path d="M112,50H12C5.4,50,0,55.4,0,62c0,6.6,5.4,12,12,12h100c6.6,0,12-5.4,12-12C124,55.4,118.6,50,112,50z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                            </span>
                        </div>
                        <span  id="count" style="border-radius: 50px;position: absolute;top:16px;left: 15px;width: 20px;background-color: #F5F5F5"  value="1">1</span>
                        <!--                        <button value="1" id="count" style="border-radius: 50px;position: absolute;top:16px;left: 15px;width: 20px;background-color: #F5F5F5"></button>-->


                    </div>
                </div>


                <div class="card  food ">

                    <div style="height: 60px;width:100%;justify-content:flex-start;display:flex;flex-direction: row">
                        <img style="width: 50px;height: 53px" src="@/assets/imgs/pizza-2.png" alt="">


                        <div style="width:100%;justify-content:flex-start;display:flex;flex-direction: column;padding: 5px;">
                            <span style="font-size: 12px" class="text-right">مرغ و قارچ مخصوص </span>


                            <div class="reception">
                                <small style="" class="text-right">قیمت واحد:58000 </small>
                                <small style="" class="text-left pt-2"> قیمت:5800 </small>
                            </div>

                        </div>

                        <div class="btn-group-vertical" style=" margin-bottom: 6px;">
                            <span class="butons  " style="border-radius: 5px 0px 0px 0px;margin-bottom: 1px">
                            +
                            </span>

                            <span class="butons" style="border-radius: 0px 0px 0px 5px;">

                <svg class="svg-minus" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="124px" height="124px" viewBox="0 0 124 124" style="enable-background:new 0 0 124 124;"
                     xml:space="preserve">
<g>
	<path d="M112,50H12C5.4,50,0,55.4,0,62c0,6.6,5.4,12,12,12h100c6.6,0,12-5.4,12-12C124,55.4,118.6,50,112,50z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                            </span>
                        </div>

                        <span style="border-radius: 50px;position: absolute;top:16px;left: 15px;width: 20px;background-color: #F5F5F5">2</span>


                    </div>
                </div>


            </div>

        </template>
        <hr/>
    </div>

</template>

<script>
    export default {
        name: "sideFood"
    }
</script>

<style >

</style>